.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 960px;
  max-height: 960px;
  padding: 0;
  margin: 0;
}

#change {
  height: auto;
  width: auto;
  margin-bottom: 15px;
}
